<!-- Bind Form -->
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h3">Vincula tu cuenta de Twitter</h1>
      </div>
      <div>
        <object
          class="bindLogo"
          type="image/svg+xml"
          data="/img/twitterlogo.svg"
        ></object>
      </div>
      <div class="card-body">
        <a class="btn btn-primary" href="/auth/twitter" role="button">
            <i class="fa fa-twitter" aria-hidden="true"></i> Iniciar sesión en Twitter
        </a>
      </div>
    </div>
  </div>
</div>