<div class="row">
  <div class="col-md-5 mx-auto">
    <div class="card mt-3 text-center">
      <div class="card-header">
        <h1 class="h3">¡Vaya, nos has pillado!</h1>
      </div>
      <img
        class="mx-auto d-block logo m-4"
        src="/img/nodata.png"
        alt="nodata"
      />
      <div class="card-body">
        <p style="text-align: center">
          Social Sentiment está recopilando información suficiente para saber
          qué opina el mundo de ti. Sigue utilizando tus redes sociales y vuelve
          dentro de un rato para comprobar si ya hay datos.<br>
          ¡Disculpa las molestias y gracias por confiar en nosotros!
        </p>
      </div>
    </div>
  </div>
</div>
