<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-about wow fadeInUp animated justify-content-center" style="visibility: visible; animation-name: fadeInUp;">
                    <img class="logo-footer logo justify-content-center" src="/img/logo.png" alt="logo-footer">
                    <p>
                        Gracias por visitar SocialSentiment. Nos esforzamos cada día para que puedas sacar el mejor partido a tus redes sociales.
                    </p>
                </div>
                <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <h3>Contacto</h3>
                    <p><i class="fa fa-telegram"></i> Telegram: <a href="https://t.me/alvarito_lml">@alvarito_lml</a></p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="mailto:almarlop98@gmail.com">almarlop98@gmail.com</a></p>
                    <p><i class="fa fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/%C3%A1lvaro-mart%C3%ADn-l%C3%B3pez-84764a18b/">Álvaro Martín López</a></p>
                    <p><i class="fa fa-github"></i> Github: <a href="https://github.com/Alburrito">@Alburrito</a></p>
                </div>
                <div class="col-md-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="row">
                        <div class="col">
                            <h3>Enlaces</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><a class="scroll-link" href="#top-content">Inicio</a></p>
                            <p><a href="/users/signup">Registrarse</a></p>
                        </div>
                        <div class="col-md-6">
                            <p><a href="/about">Acerca de</a></p>
                            <p><a href="https://github.com/Alburrito/social-sentiment">Código fuente</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <span>&copy; 2021 Álvaro Martín López</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>