<!-- <div class="card border-primary mb-3 mt-4 mx-auto">
  <div class="card-header">Acerca de la plataforma</div>
  <div class="card-body">
    <h2 class="card-title">Social Sentiment</h2>
    <p class="card-text">Plataforma con NLP para explorar las opiniones de tus seguidores</p>
  </div>
</div> -->

<div class="mb-3 mt-4 mx-auto">
  <h1>Acerca de</h1>
  <hr />
  <div class="row">
    <h3>La plataforma Social Sentiment</h3>
    <div class="row">
      <div class="col-3">
        <img height="275px" width="100%" src="/img/logo.png" alt="Logo plataforma" />
      </div>
      <div class="col">
        <p style="font-size: 18px; text-align: justify;">
          <strong>Social Sentiment</strong> surge en 2021 como un Trabajo de Fin de
          Grado del alumno Álvaro Martín López. La plataforma tiene como objetivo
          facilitar la monitorización de las redes sociales de los usuarios. Con
          esto se pretende propiciar el crecimiento de los usuarios que hagan uso de
          la plataforma.
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <h3>Equipo de desarrollo</h3>
    <div class="row">
      <div class="col-3">
        <img src="/img/developer.jpeg" alt="El dESARROLLADOR CAMPEADOR" />
      </div>
      <div class="col">
        <p style="font-size: 18px; text-align: justify;">
          <strong>Álvaro Martín López</strong> es un alumno de la Universidad de
          Salamanca, interesado en el área del Machine Learning y el mundo de
          Linux. También está interesado en la seguridad informática y el
          pentesting y se maneja con lenguajes variados como Python, JavaScript o
          C.
        </p>
      </div>
    </div>
  </div>
</div>


