<div class="card border-primary mb-3 mt-4 mx-auto">
  <div class="card-header">Acerca de la plataforma</div>
  <div class="card-body">
    <h2 class="card-title">Social Sentiment</h2>
    <p class="card-text">Plataforma con NLP para explorar las opiniones de tus seguidores</p>
  </div>
</div>
