<!-- TODO: Cambiar a simple portada -->

<div class="jumbotron mt-4 customJumbotron">
  <h1 class="display-4">Social Sentiment</h1>
  <p class="lead">La plataforma que ayuda a crecer a tus Redes Sociales</p>
  <hr class="my-4">
  <p class="lead">
      <h3>¡Bienvenido!</h3>
      <p>Pulsa en "Registrarse" para crear una cuenta o en "Iniciar sesión" si ya tienes una</p>
      <a class="btn btn-primary btn-lg" href="/users/signin" role="button">Iniciar sesión</a>
      <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Registrarse</a>
  </p>
</div>