<div class="jumbotron customJumbotron" style="background-image: url('/img/b.jpg'); height: 40em; color: rgb(255, 255, 255); padding-top: 8em; padding-right: 17em; padding-left: 17em;">
    <h1 class="display-4">Social Sentiment</h1>
    <p class="lead">La plataforma que ayuda a crecer a tus Redes Sociales</p>
    <hr class="my-4">
    <p class="lead">
        <h3>¡Bienvenido!</h3>
        <p>Pulsa en "Registrarse" para crear una cuenta o en "Iniciar sesión" si ya tienes una</p>
        <a class="btn btn-light btn-lg" href="/users/signin" role="button" style="border-radius: 6px; margin-right: 1em;">Iniciar sesión</a>
        <a class="btn btn-primary btn-lg" href="/users/signup" role="button" style="border-radius: 6px; margin-right: 1em;">Registrarse</a>
    </p>
</div>
<div class="row justify-content-center mt-4" style="max-width: 100%; margin:auto; padding-top: 2em; color: rgba(163, 163, 163, 0.699); margin-bottom: 0; margin-top: 6em;">
    <h6 style="font-family: 'Roboto', sans-serif; font-weight: 700;">BIENVENIDO A SOCIAL SENTIMENT</h6>
</div>
<div class="row justify-content-center" style="max-width: 100%; margin-left: 40em; margin-right: 40em; margin-top: 0;">
    <P style="font-family: 'Roboto', sans-serif; font-weight: 300; line-height: 1.6em; font-size: 24px; text-align:center;">
        "En Social Sentiment estamos comprometidos con tus redes sociales. Ofrecemos herramientas de monitorización apoyadas en Inteligencia Artificial para que puedas estar al tanto de todos los detalles que te ayudarán a crecer"</P>
</div>
<div class="row justify-content-center" style="max-width: 100%; margin:auto; margin-top: 0.5em; margin-bottom: 6em;">
    <img class="social-network-logo" src="/img/twitter.png" alt="" height="55px">
    <img class="social-network-logo" src="/img/instagram.png" alt="" height="60px">
    <img class="social-network-logo" src="/img/facebook.png" alt="" height="60px">
    <img class="social-network-logo" src="/img/youtube.svg.png" alt="" height="55px">
    <style>
        .social-network-logo {
            margin-left: 5em;
            margin-right: 5em;
        }
    </style>
</div>
<hr>
<div class="row justify-content-center" style="max-width: 100%; margin-left: 20em; margin-right: 20em; margin-top: 6em; margin-bottom: 6em;">
    <div class="col-md-6">
        <!-- CAMBIAR IMAGEN -->
        <img src="/img/dashboard.webp" alt="" width="100%">
    </div>
    <div class="col-md-6">
        <div class="row" style="padding-left: 3em;">
            <p style="font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 16px;">Usa tu dashboard
            </p>
        </div>
        <div class="row" style="padding-left: 3em;">
            <h2 style="font-family: 'Roboto', sans-serif; font-weight: 500;">¡Monitoriza la opinión de tus seguidores!</h2>
        </div>
        <div class="row" style="padding-left: 3em;">
            <p style="font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 16px;">"Gracias al panel principal de la plataforma Social Sentiment, puedes hacer un seguimiento de la opinión de tus seguidores, observar tus mejores posts y estadísticas varias. ¡Todo de un rápido vistazo!"
            </p>
        </div>
    </div>
</div>
<div class="row justify-content-center" style="max-width: 100%; margin-left: 20em; margin-right: 20em; margin-top: 6em; margin-bottom: 6em;">
    <div class="col-md-6" style="text-align: right;">
        <div class="row" style="padding-left: 3em; width: 100%;">
            <p style="font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 16px;width: 100%;">Usa tu histórico
            </p>
        </div>
        <div class="row" style="padding-left: 3em;width: 100%;">
            <h2 style="font-family: 'Roboto', sans-serif; font-weight: 500; width: 100%;">¡Revisa tu historial!</h2>
        </div>
        <div class="row" style="padding-left: 3em;width: 100%;">
            <p style="font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 16px;">"La plataforma Social Sentiment incorpora un panel que recoge la evolución de tus estadísticas. Interacciona con las gráficas modificando los intervalos de atención y obtiene conclusiones basadas en tu historial"
            </p>
        </div>
    </div>
    <div class="col-md-6"> 
        <!-- CAMBIAR IMAGEN -->
        <img src="/img/dashboard.webp" alt="" width="100%">
    </div>
</div>